
body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
  }
  
  /* MAIN CONTAINER */
.container-main{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
/* SIDEBAR */
.container-sidebar{
  display: flex;
  flex-wrap: wrap;
  width: 18.4vw;
  height: 100vh;
  background: rgba(237, 237, 237, 0.7);
}
/* SIDEBAR TOP */
.container-top-wrapper{
  display: flex;
  width: 100%;
  height: 33.3vh;
  justify-content: center;
  align-items:flex-start ;
}
.container-top-inner{
  width: 210px;
  height: 75px; 
  background-color: #D8B676;
  margin-top: 28px;
}

/* SIDEBAR MID */
.container-mid-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 33.3vh;  
  justify-content: center;
  align-items:flex-start ;
}
.mid-first-content{
  width: 210px;
  height: 40px;
  background-color: #7E76D8;
}
.mid-second-content{
  width: 210px;
  height: 40px;
  background-color: #7E76D8;
}
.mid-third-content{
  width: 210px;
  height: 40px;
  background-color: #7E76D8;
}
.mid-fourth-content{
  width: 210px;
  height: 40px;
  background-color: #7E76D8;
}

/* SIDEBAR BOTTOM */
.container-bottom-wrapper{
  display: flex;
  width: 100%;
  height: 33.3vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end ;
}
.bottom-left-content{
  width: 100px;
  height: 40px;
  background-color: #95D876;
  margin-bottom: 20px;
}
.bottom-right-content{
  width: 100px;
  height: 40px;
  background-color: #95D876;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* MAIN CONTENT */
.container-content{
  width: 81.6vw;
  height: 100vh;
  background-color:#FFFF ;
}
/* CONTENT HEADER */
.container-wrapper-header{
  display: flex;
  width: 100%;
  height: 24vh;
  justify-content: center;
  align-items: center;
}
.container-inner-header{
  width: 925px;
  height: 120px;
  background-color: #95D876;
}
/* CONTENT INSIDE */
  /* inside1 */
.container-wrapper-inside1{
  display: flex;
  width: 100%;
  height: 24vh;
  justify-content: center;
  align-items: flex-start;
}
.inside1-left-content{
  width: 450px;
  height: 131px;
  background-color: #7E76D8;
}
.inside1-right-content{
  width: 450px;
  height: 131px;
  background-color: #D876BC;
  margin-left: 25px;
}

  /* inside2 */
.container-wrapper-inside2{
  display: flex;
  width: 100%;
  height: 24vh;
  justify-content: center;
  align-items: flex-start;
}
.inside2-left-content{
  width: 450px;
  height: 131px;
  background-color: #D8B676;
}
.inside2-right-content{
  width: 450px;
  height: 131px;
  background-color: #D88776;
  margin-left: 25px;
}

/* CONTENT FOOTER */
.container-wrapper-footer{
  display: flex;
  width: 100%;
  height: 28vh;
  justify-content: center;
  align-items: flex-start;
}
.container-inner-footer{
  display: flex;
  width: 925px;
  height: 193px;
  background-color: #F35454;
}
  /* footer content */
.footer-first-content{
  width: 200px;
  height: 153px;  
  background-color: rgba(236, 205, 205, 0.3);
  margin-left: 25px;
  margin-top: 20px;
}
.footer-second-content{
  width: 200px;
  height: 153px;  
  background-color: rgba(236, 205, 205, 0.3);
  margin-left: 25px;
  margin-top: 20px;
}
.footer-third-content{
  width: 200px;
  height: 153px;  
  background-color: rgba(236, 205, 205, 0.3);
  margin-left: 25px;
  margin-top: 20px;
}
.footer-fourth-content{
  width: 200px;
  height: 153px;  
  background-color: rgba(236, 205, 205, 0.3);
  margin-left: 25px;
  margin-top: 20px;
}
